#whatwedo
	#whatwedo-title.row
		.col-sm-12.col-md-12
			h2 Lo que Hacemos
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				| tempor incididunt ut labore et dolore magna aliqua.
	#obs
		.row
			.col-md-4.obs-item
				.col-md-4
					img(src='/images/ods1.png')
				.col-md-8
					h4 Servicios públicos esenciales
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.col-md-4.obs-item
				.col-md-4
					img(src='/images/ods2.png')
				.col-md-8
					h4 Acceso a la justicia
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.col-md-4.obs-item
				.col-md-4
					img(src='/images/ods3.png')
				.col-md-8
					h4 Violencia de género
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.row
			.col-md-4.obs-item
				.col-md-4
					img(src='/images/ods4.png')
				.col-md-8
					h4 Discriminación
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.col-md-4.obs-item
				.col-md-4
					img(src='/images/ods5.png')
				.col-md-8
					h4 Ambiente
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.col-md-4.obs-item
				.col-md-4
					img(src='/images/ods6.png')
				.col-md-8
					h4 Derechos económicos sociales y culturales
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.