extends ../layouts/default

block content
    #about-us
        div
            img(src='/images/valles.jpg', width="100%").img
        div
            h3 Misión
            p Nuestra institución pretende, ante todo, atender a la promoción y defensa de los derechos humanos
                |  fumdamentales y también promover un desarrollo humano social y <em>sustentable</em>.
        div
            h3 Visión
            p Buscamos una interpretación de la realidad como un enfoque sistémico; holístico y crítico,
                |  actuando desde lo interdisciplinario como clave de una práctica sustentable.
        div
            h3 Valores
            p Los principios que guían nuestras acciones, se fundan en la solidaridad humana;
                |  equidad social; participación democrática, defensa del medio ambiente y tolerancia por la diversidad.
        div
            h3 Equipo
            p Kamkunapa, que en la lengua quechua significa <em>"para ustedes"</em>,
                |  es un grupo de jóvenes que hemos decidido trabajar en Salta,
                |  especialmente desde los valles calchaquíes y con miras hacia la región andina latinoamericana,
                |  para lograr cambios positivos en el entorno local a través del empoderamiento y compromiso de sus mismos destinatarios.
                |  Para ello, hemos apostado a un trabajo interdisciplinario; con planificación estratégica y transparencia de gestión.
        div
            h3 Redes y Alianzas
            p Actualmente hemos vinculado nuestros objetivos con instituciones prestigiosas como
                |  <strong>Alianza por la solidaridad; Fundación Baltazar Garzón; JCI; Superhábitos</strong>.
