extends ../layouts/default

block content
    #presentation
        div
            h3 Ejes temáticos de trabajo
            p Pretendemos, ante todo, atender a la promoción y defensa de los derechos humanos fundamentales y
                |  también promover un desarrollo humano social "sustentable".
                |  Entendiéndose éste último adjetivo, como el despliegue de estrategias y
                |  actividades tendientes a mejorar la calidad de vida de la persona humana y
                |  de la sociedad, de manera integral, es decir en todos sus aspectos,
                |  satisfaciendo las necesidades vitales actuales pero sin perjudicar a las generaciones futuras.
                |  Y fomentarlo, desde valores como, la solidaridad humana; equidad social;
                |  participación democrática, defensa del medio ambiente y tolerancia por la diversidad.
            h4 Derechos humanos:
            p En ésta temática, nuestra actividad se plantea principalmente sobre dos niveles:
            p <strong>Prevención:</strong> en un primer nivel, la sensibilización; información y
                |  capacitación de la ciudadanía, especialmente atendiendo a personas y
                |  grupos sociales en situación de vulnerabilidad sobre algún derecho fundamental
                |  que afecte su desarrollo sustentable.
            p <strong>Efectivización:</strong> Y en el mismo sentido, como segundo nivel,
                |  el ejercicio de una tutela legal efectiva de tales derechos reconocidos constitucionalmente y
                |  por tratados internacionales de derechos humanos, mediante la utilización de instrumentos y
                |  garantías jurídicas procesales locales o internacionales,
                |  especialmente en aquellos casos en que se puedan configurar litigios de incidencia pública.
            h4 Desarrollo local:
            p Nuestros objetivos se encaminan a promover el desarrollo local y a la erradicación de la pobreza
                |  o de las condiciones de vida y de trato que afecten la dignidad humana.
                |  Crear condiciones vitales favorables para generar en las personas, oportunidades de desarrollo humano sustentable,
                |  priorizando en la agenda de actividades, los asuntos vitales que se vinculen a los servicios públicos esenciales, como la salud;
                |  alimentación; educación; justicia; ambiente; vivienda; trabajo; transporte; tecnologías; deportes; artes y cultura.
                |  Formando y Capacitando para tales fines a promotores y operadores para el Desarrollo Humano y Social Sustentable,
                |  a través de cursos, talleres y actividades afines.
        div
            h3 Plan estratégico
            p Nuestro paradigma, en cuanto a principios generales propuestos, se encuadran en los "Objetivos de Desarrollo Sostenible del Milenio" propuesto por la Organización de Naciones Unidas.
                |  Y tanto en el diseño como en la gestión de proyectos y actividades, se estructura sobre un PLAN ESTRATÉGICO, que incorpore la interdisciplinariedad, la transparencia y la sustentabilidad de los propósitos fundacionales.