.carousel-inner .item {
    height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#whatwedo-title {
    text-align: center
}

.obs-item h4 {
    margin-top: 0px;
}

.obs-item img {
    width: 100%;
}