body, html {
    background-color: #EEEEEE;
}

#main-container {
    background-color: #FFF;
}

.carousel-inner .item {
    height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#whatwedo-title {
    text-align: center
}

.obs-item h4 {
    margin-top: 0px;
}

.obs-item img {
    width: 100%;
}

#footer-container {
    background-color: #CFCFCF;
    padding: 0px;
}

#footer {
    margin-top: 30px;
}

#footer #powered-by p{
    background-color: #ef4c00;
    color: #FFF;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 1em;
    text-align: right;
}

#footer #powered-by a {
    color: #FFF;
    cursor: pointer;
}

#footer #social {
    margin-top: 30px;
    padding: 1em;
    text-align: right;
}

#footer #social p {
    margin-bottom: 0px;
}

.brief-text {
    height: 200px;
    overflow: hidden;
}